{% extends 'memeSite/base.html' %}

{% block title %}{{ meme.title }}{% endblock %}
{% block content %}
<div class="details_view">
    <style>
        .details_view a {
                border: 1px solid #ffc700;
                padding: 5px 10px 5px 10px;
                border-radius:20px;
                line-height: 2.4;
                background: rgba(255, 199, 0, 0.6);
                margin: 30px 90px 30px 30px;
            }
    </style>
    {% if not fav %}
    {% if request.user.is_authenticated %}

    <div>
        <a href="{% url 'favorite_add' meme.id %}" class="btn btn-outline-primary">Добавить в избранное</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Добавить в избранное</a>
    </div>
    {% endif %}
    {% endif %}

    <h1>{{ meme.title }}</h1>
    <p>{{meme.content }}</p>
    <img src="{{ meme.photo.url }}">
    <p>{{meme.time_create }}</p>
</div>
{% endblock %}
