{% extends 'memeSite/base.html' %}

{% block title %}{{ meme.title }}{% endblock %}
{% block content %}
<div class="details_view">
    {% if not fav %}
    {% if request.user.is_authenticated %}

    <div>
        <a href="{% url 'favorite_add' meme.id %}" class="btn btn-outline-primary">Добавить в избранное</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Добавить в избранное</a>
    </div>
    {% endif %}
    {% endif %}

    <h1>{{ meme.title }}</h1>
    <p>{{meme.content }}</p>
    <img src="{{ meme.photo.url }}">
    <p>{{meme.time_create }}</p>
</div>
{% endblock %}