{% extends 'memeSite/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="help">
    <h2>Помощь</h2>
    <p>1. Зарегистрируйтесь на сайте, перейдя во вкладку “Авторизация”, также через данную вкладку Вы можете войти в
        свой
        уже существующий профиль.<br>2. Вы можете редактировать свой профиль во вкладке “Настройки профиля”.<br>3. Для
        того, чтобы
        загрузить мем, необходимо перейти во вкладку “Управление мемами”.<br>4. Вы можете сохранять мемы, добавленные
        другими
        пользователями, в закладки. Данные мемы можно посмотреть в разделе “Мои закладки”.</p>
</div>
{% endblock %}