<!DOCTYPE html>
{% load static %}
<head>

    <meta charset="UTF-8">
    <title>Главная страница</title>


      <link rel="stylesheet" href='{% static "memeBase/css/styles.css" %}' />

    
</head>
<body>
<div class="topnav">
  <a class="active" href="#home">БАЗА МЕМОВ</a>
  <a href="#authorization"><img src="static/memeBase/images/network.png" width="40"></a>
  <a href="#guide"><img src="static/memeBase/images/guide-book.png" width="40"></a>
    <form name="test" method="post" action="input1.php">
        <p>
            <input type="text" size="40">
        </p>

    </form>

</div>
</body>
