{% extends 'memeSite/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
    {% if meme %}
    {% for el in meme %}
    <a href="{% url 'meme-detail' el.id %}"><img style="float: none; margin: 10px; width: 250px; height: 250px; object-fit: cover;" src="{{ el.photo.url }}"
                                                    alt="Thumbnail image"></a>
    {% endfor %}
    {% else %}
    <p>Где мемы?!</p>
    {% endif %}
</div>

<div class="tags">
    <p>Теги</p>
    <style>
        .tags a {
            color: black; /* Цвет ссылок */
            text-decoration: none; /* Убираем подчёркивание */
            border: 1px solid #ffc700;
            padding: 5px 10px;
            border-radius:20px;
            line-height: 2.4;
            background: #ffc700;
        }
    </style>
    {% for tag in tags %}
    #<a href="{%url 'search_tag_results' %}?q={{ tag.slug }}">{{ tag.slug }}</a>
    <br>
    {% endfor %}

</div>
{% endblock %}
