/* Стили для верхней панели */
.topnav {
    background-color: #ffc700;
    overflow: hidden;
}

.topnav form {
    float: center;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}



.topnav a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.1);
    transition: transform .3s ease;
}


.topnav a.active {
    font-weight: bold;
    float: left;
    color: black;
    font-family: 'Arimo', serif;
}



/* Стили для страницы помощи */
main .help {
    float: center;
    color: #000000;
    margin-top: 100px;
    text-align: justify;
    width: 100%;
}
main .help h2 {max-width: 800px; margin: 60px 40px}
main .help p {max-width: 1400px; margin: 40px 40px; font-size: 30px}


/* Стили для класса features */
main .features {
     float: left;
    color: #000000;
    margin: 20px;
    text-align: center;
    /*width: 30%;*/
    border: 2px solid #ffc700;
    border-radius:20px;
}

main .profile {
    float: center;
    color: #000000;
    margin-top: 40px;
    margin-left: 40px;
    text-align: justify;
    width: 100%;
}

/* Стили для страницы добавления мемов */
main .create form {
    margin-left: 35%;
    width: 500px;
    margin-top: 100px;
}

main .create button {
    margin-top: 50px;
}

/* Стили для отдельной страницы мема */
main .details_view {

    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

main .details_view img {max-height: 500px; max-width: 500px;}


