/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffae00;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.1);
    transition: transform .3s ease;
}

/* Add a color to the active/current link */
.topnav a.active {
    font-weight: bold;
    float: left;
    color: black;
}

main .help {
    float: left;
    color: #fff
    margin-top: 120px;
    text-align: left;
    width: 100%;
}
main .help h2 {max-width: 800px; margin: 60px 40px}
main .help p {max-width: 1400px; margin: 40px 40px; font-size: 30px}



main .reg {
    float: left;
    margin-left: 20%;
    width: 30%;
}

main .aut {
    float: right;
    width: 30%;
}

main .features {
    float: center;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}


